{% extends 'layout/tracker.html.twig' %}
{% import'macros/filesystem.html.twig' as filesystem %}

{% block title %}Torrent{% endblock %}

{% block body %}

    <div id="simple-adc-modal" class="modal">
        <div class="modal-wrapper">
            <header>
                <h4 id="simple-adc-modal-header"></h4>
                <a href="#" rel="modal:close">[close]</a>
            </header>
            <div class="modal-body">
                <div class="inner-modal-body"></div>
            </div>
        </div>
    </div>

    <div class="row small-device mt-4 mb-5">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-12">
            <h1 class="text-center">
                {{ torrent.name }}
                {% if torrent.bonus == "freeleech" %}
                    <img title="golden" class="valign-middle" src="{{ asset('images/golden.gif') }}">
                {% elseif torrent.bonus == "silver" %}
                    <img title="silver" class="valign-middle" src="{{ asset('images/silver.gif') }}">
                {% endif %}
            </h1>

            <div class="fancy-container bx-d-sm-0">
                <!-- actions -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Actions</div>
                        <div class="col-12 col-sm-10">
                            <div class="d-flex">
                                {# TODO Add bookmakrs, edit and remove torrents #}
                                <a class="mr-2" href="{{ path('torrent.download', {id: torrent.id}) }}"><b>Download</b></a>
                                {% if is_granted("ROLE_ADMIN") %}
                                <!-- add to bookmarks -->
                                <a title="Add bookmark" href="/add_bookmark/{{ torrent.id }}">
                                    <b>Bookmark</b>
                                </a>
                               {% else %}
                                <!-- remove from bookmarks -->
                                <a title="Remove bookmark" href="/remove_bookmark/{{ torrent.id }}">
                                    <b>Unbookmark</b>
                                </a>
                                {% endif %}
                                <div class="ml-auto">
                                    <!-- <a class="no-decoration" href="/report/{{ torrent.id }}">
                                        <b>Report</b>
                                    </a> -->
                                    {% if is_granted("ROLE_ADMIN") %}
                                    <!-- edit action -->
                                    <a class="no-decoration ml-2" href="/edit_torrent/{{ torrent.id }}"><b>Edit</b></a>
                                    {% endif %}
                                    {% if is_granted("ROLE_ADMIN") %}
                                    <!-- remove action -->
                                    <a class="no-decoration red ml-2" href="{{ path('torrent.remove', {id: torrent.id}) }}"><b>Remove</b></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- uploaded by -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 nobr">Uploaded by</div>
                        <div class="col-12 col-sm-10">
                            <a class="r04" href="{{ path('user.profile.id', {"id": torrent.getOwner.getId}) }}"><b>{{ torrent.getOwner.getUsername }}</b></a>
                            {# title icon
                            <img title="title" class="valign-middle" height="15" width="15" src="../images/<?php echo $data['torrentData']['uploader_title_icon']; ?>">
                            #}
                        </div>
                    </div>
                </div>

                <!-- size -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Size</div>
                        <div class="col-12 col-sm-10">{{ filesystem.bytesToSize(torrent.size) }}</div>
                    </div>
                </div>

                <!-- anidb / imdb info -->
                {% if torrent.contentInfo and torrent_details.show_content is defined %}
                    <div class="fancy-row">
                        <div class="row small-device">
                                <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 nobr">Content Info</div>
                                <div class="col-12 col-sm-10">
                                    <a target="_blank" href="{{ torrent.contentUrl }}">
                                        {{ torrent.contentUrl }}
                                    </a>
                                    {% apply markdown_to_html %}
                                        {{ torrent.contentInfo }}
                                    {% endapply %}
                                </div>
                        </div>
                    </div>
                {% endif %}
                <!-- description & image -->
                {% if torrent_details.show_desc is defined %}
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Release Details</div>
                        <div class="col-12 col-sm-10">
                            <div class="row small-device">
                                <div class="col-xl-5 mb-2 mb-xl-0 col-12">
                                    <img src="{{ torrent.contentPoster }}" class="valign-top torrent-cover">
                                </div>
                                <div class="col-xl-7 col-12">
                                    {% apply markdown_to_html %}
                                        {{ torrent.description }}
                                    {% endapply %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if torrent_details.show_mediainfo is defined %}
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">MediaInfo</div>
                        <div class="col-12 col-sm-10">
                            {% if torrent.mediaInfo is not null %}
                                 <a href="#" id="modal-view">Click to view</a>
                                 <div class="d-none" id="modal-data">{{ torrent.mediaInfo }}</div>
                            {% else %}
                                 None
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- files -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1"><a class="d-block" href="#">Torrent Files</a></div>
                        <div class="col-12 col-sm-10 ">{# number of files here #}
                            <div class="d-none" id="adc-files-list"></div>
                        </div>
                    </div>
                </div>

                <!-- info hash -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Infohash</div>
                        <div class="col-12 col-sm-10">{{ torrent.infohash }}</div>
                    </div>
                </div>

                <!-- peers -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1"><a class="d-block" id="adc-peers-list-view" href="#">Peers</a></div>
                        <div class="col-12 col-sm-10">
                            <img src="{{ asset('images/trans.gif') }} " class="main-arrowup valign-bottom" /> <b class="green">{{ torrent.seeders }}</b> seeders
                            &nbsp;
                            <img src="{{ asset('images/trans.gif') }}" class="main-arrowdown valign-bottom" /> <b class="red">{{ torrent.leechers }}</b> leechers

                            <div class="d-none" id="peers-list">
                                <table class="peers-table w-100">
                                    <thead>
                                    <tr>
                                        <th class="text-left">Username</th>
                                        <th width="1%" class="text-center nobr">Uploaded</th>
                                        <!-- <th width="1%" class="text-center nobr">Up Speed</th> -->
                                        <th width="1%" class="text-center nobr">Downloaded</th>
                                        <!-- <th width="1%" class="text-center nobr">Down Speed</th> -->
                                        <!-- <th width="1%" class="text-center nobr">Connected</th>-->
                                        <th class="text-right nobr">Client</th>
                                        <th class="text-right nobr">Age</th>
                                    </tr>
                                    </thead>
                                    {% if not torrent.seeders and not torrent.leechers %}
                                        <tr>
                                            <td colspan="5">Sorry, there are no peers...</td>
                                        </tr>
                                    {% else %}
                                       {% for peer in peers %}
                                            <tr>
                                                <td class="text-left nobr">
                                                    {% if peer.seeder %}
                                                    <img src="{{ asset('images/trans.gif') }} " class="main-arrowup valign-bottom" />
                                                    {% else %}
                                                        <img src="{{ asset('images/trans.gif') }}" class="main-arrowdown valign-bottom" />
                                                    {% endif %}
                                                    <a class="no-decoration" href="{{ path('user.profile.id', {"id":peer.user.id}) }}"><b>{{ peer.user.username }}</b></a>
                                                </td>
                                                <td class="text-center green nobr">{{ filesystem.bytesToSize(peer.uploaded) }}</td>
                                                <!-- <td class="text-center green nobr"></td> -->
                                                <td class="text-center r03 nobr">{{ filesystem.bytesToSize(peer.downloaded) }}</td>
                                                {# <td class="text-center green nobr"><</td> #}
                                                {# <td class="text-center nobr"><?php  echo $peer['timespent']; ?></td> #}
                                                <td class="text-right nobr">{{ peer.agent }}</td>
                                                <td class="text-right nobr">{{ functions.timeago(peer.started) }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# TODO add remove and edit torrent for both staff and user #}
           {% if comments is defined %}
            <div class="mt-5">
                {% for comment in comments %}
                    <div class="fancy-container bx-d-sm-0 p-2 mb-2">
                        <div class="row small-device">
                            <div class="col-2 pr-0">
                                <div class="w-100 avatar-container">
                                    <img title="" class="title-icon-avatar" src="../images/">

                                    <img src="/avatar/{{ comment.user.id }}" class="w-100" />
                                </div>
                            </div>
                            <div class="col-10">
                                <div class="pl-d-sm-2">
                                    <div class="d-flex">
                                        <a class="mr-2 comment-author" href="{{ path("user.profile.id", {"id":comment.user.id}) }}"><b>{{  comment.user.username }}</b></a>
                                        <span>({{ functions.timeago(comment.added) }})</span>
                                        <span class="d-none comment-created-at"></span>
                                    </div>
                                    <hr class="mt-2 mb-1" />
                                    {% apply markdown_to_html %}
                                        {{ comment.comment }}
                                    {% endapply %}
                                    {%  if comment.editedAt %}
                                    <p class="mt-1 mb-0 smaller">(Last edited at {{ functions.timeago(comment.editedAt)}})</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
            {#
            <?php if ($data['comments_total'] > 1) : ?>
            <div class="text-center mt-2 mb-4">
                <?php for ($page = 1; $page <= $data['comments_total']; ++$page) : ?>
                <?php if($page == $data['current_page']): ?>
                <b><?php echo $page; ?></b>
                <?php else: ?>
                <a  href="/torrent/<?php echo $data['tID'] . "/" . $page; ?>"><b><?php echo $page; ?></b></a>
                <?php endif; ?>
                <?php endfor; ?>
            </div>
            <?php endif; ?>
            #}

            <form class="mt-5" enctype="multipart/form-data" method="POST" action="/torrent/{{ torrent.id }}" role="form">
                <div class="fancy-container bx-d-sm-0 px-2 pt-2">
                    <h2>Comment this torrent</h2>
                    <textarea name="comment_desc" id="markdown-editor"></textarea>
                    <div class="mb-2 mt-2">
                        <button class="btn" name="add" type="submit">Add comment</button>
                    </div>
                </div>
            </form>

        </div>
    </div>



    <link rel="stylesheet" href="../css/skin-win8/ui.fancytree.min.css" />
    <script src="../js/jquery.fancytree.ui-deps.js" type="text/javascript"></script>
    <script src="../js/jquery.fancytree.min.js" type="text/javascript"></script>

    <script src="../js/marked.min.js"></script>
    <script>
        function parseMarkdown(sourceElement, targetElement) {
            if (typeof(sourceElement) == 'string') {
                sourceElement = document.querySelector(sourceElement);
            }
            var markedMessage = marked(sourceElement.innerText.trim(), {
                breaks: true,
                smartLists: true
            });
            if (typeof(targetElement) == 'string') {
                targetElement = document.querySelector(targetElement);
            }
            targetElement.innerHTML = markedMessage;
        }
    </script>

    <script type="text/javascript">
        $('.single-markdown-comment').each((index, elem) => {
            var id = elem.dataset.id;
            parseMarkdown(elem, "#single-parsed-comment-" + id);
        });
        const mde = loadEasyMde("#comment-markdown-editor", 180);

        function quotePost(id) {
            const commentElement = document.querySelector(`#torrentComment-${id}`);
            let content = commentElement.querySelector('.single-markdown-comment').innerText;
            let author = commentElement.querySelector('.comment-author').innerText;
            let time = commentElement.querySelector('.comment-created-at').innerText;
            mde.value(`>${author} wrote at ${time}\n${content.split('\n').map(e => `>${e}`).join('\n')}\n\n`);
        }

        function deleteComment(id) {
            if (window.confirm('do you really want to delete this comment?')) {
                fetch(`/remove_comment/${id}`, {
                    method: 'POST'
                }).then(() => window.location.reload());
            }
        }
    </script>
{% endblock %}