{% extends 'layout/tracker.html.twig' %}
{% import'macros/filesystem.html.twig' as filesystem %}
{% block title %}Torrents{% endblock %}

{% block body %}
    <form enctype="multipart/form-data" method="GET" action="/torrents/" role="form">
        <div class="row no-gutter small-device mt-4">
            <div class="mx-auto col-xl-10 col-12 mb-4">
                <div class="row small-device">
                    <!-- searchbox -->
                    <div class="col-lg-4 col-md-6 d-flex order-3 order-md-2 order-lg-1">
                        <div class="searchtable-container bt-0 br-md-0 bx-d-sm-0 w-100">
                            <h4></h4>
                            <div class="p-2">
                                <input class="mb-2 w-100" type="text" name="searchbox" value="{{ search_session.searchbox is defined ? search_session.searchbox }}" />
                                <p class="m-0 p-0 text-right">
                                    <label class="valign-middle" for="check_desc">
                                        <span>Also check synopsis & descriptions?</span>
                                        <input type="checkbox" id="check_desc" name="search_desc" value="1" {{ search_session.search_desc is defined ? "checked" }}>
                                    </label>
                                </p>
                                <p class="m-0 p-0 mt-2 text-right">
                                    <input class="btn" type="submit" name="search" value="Search">
                                    <input class="btn" type="submit" name="reset" value="Reset">
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- show filter -->
                    <div class="col-lg-4 col-md-6 d-flex order-2 order-md-3 order-lg-2">
                        <div class="searchtable-container bt-0 bb-d-md-0 br-lg-0 bx-d-sm-0 w-100">
                            <h4></h4>
                            <div class="p-2">
                                <div class="row small-device">
                                    <div class="col-6 pl-3 pl-lg-2">
                                        <label class="nobr valign-middle"><input type="checkbox" name="my_uploads" value="1" {{ search_session.my_uploads is defined ? "checked" }}  /><span>My Uploads</span></label><br />
                                        <label class="nobr valign-middle"><input type="checkbox" name="seeds_needed" value="1"  {{ search_session.seeds_needed is defined ? "checked" }}/><span>Seeds Needed</span></label><br />
                                        <label class="nobr valign-middle"><input type="checkbox" name="golden" value="1"  {{ search_session.golden is defined ? "checked" }}/><span>Golden Torrents</span></label><br />
                                        <label class="nobr valign-middle"><input type="checkbox" name="silver" value="1"  {{ search_session.silver is defined ? "checked" }}/><span>Silver Torrents</span></label><br />
                                    </div>
                                    <div class="col-6 pr-3 pr-lg-2">
                                        <label class="nobr valign-middle"><input type="checkbox" name="bookmarked" value="1"  {{ search_session.bookmarked is defined ? "checked" }}/><span>Bookmarked</span></label><br />
                                        <label class="nobr valign-middle"><input type="checkbox" name="dvd" value="1"  {{ search_session.dvd is defined ? "checked" }}/><span>DVD Torrents</span></label><br />
                                        <label class="nobr valign-middle"><input type="checkbox" name="bdmv" value="1"  {{ search_session.bdmv is defined ? "checked" }}/><span>Blu-ray Torrents</span></label><br />
                                        <label class="nobr valign-middle"><input type="checkbox" name="uhd" value="1"  {{ search_session.uhd is defined ? "checked" }}/><span>Ultra HD Torrents</span></label><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- category filter -->
                    <div class="col-lg-4 col-md-12 d-flex order-1 order-md-1 order-lg-3">
                        <div class="searchtable-container bt-0 bb-d-lg-0 bx-d-sm-0 w-100">
                            <h4></h4>
                            <div class="p-2">
                                <div class="row small-device">
                                    <div class="col-sm-3 col-6 pl-3 pl-lg-2">
                                        <label class="nobr valign-middle"><input type="checkbox" name="categories[]" value="1" {{ search_session.categories is defined and 1 in search_session.categories  ? "checked" }}  /><span>Anime</span></label><br />
                                        <label class="nobr valign-middle"><input type="checkbox" name="categories[]" value="2" {{ search_session.categories is defined and 2 in search_session.categories  ? "checked" }} /><span>Hong Kong</span></label><br />
                                        <label class="nobr valign-middle"><input type="checkbox" name="categories[]" value="3" {{ search_session.categories is defined and 3 in search_session.categories  ? "checked" }} /><span>Japan</span></label><br />
                                        <label class="nobr valign-middle"><input type="checkbox" name="categories[]" value="4" {{ search_session.categories is defined and 4 in search_session.categories  ? "checked" }} /><span>South Korea</span></label><br />
                                    </div>
                                    <div class="col-sm-3 col-6 pr-3 mr-sm-0">
                                        <label class="nobr valign-middle"><input type="checkbox" name="categories[]" value="5" {{ search_session.categories is defined and 5 in search_session.categories  ? "checked" }}/><span>China</span></label><br />
                                        <label class="nobr valign-middle"><input type="checkbox" name="categories[]" value="6" {{ search_session.categories is defined and 6 in search_session.categories  ? "checked" }}/><span>Philippines</span></label><br />
                                        <label class="nobr valign-middle"><input type="checkbox" name="categories[]" value="7" {{ search_session.categories is defined and 7 in search_session.categories  ? "checked" }}/><span>Taiwan</span></label><br />
                                        <label class="nobr valign-middle"><input type="checkbox" name="categories[]" value="8" {{ search_session.categories is defined and 8 in search_session.categories  ? "checked" }}/><span>Thailand</span></label><br />
                                    </div>
                                    <div class="col-sm-3 col-6 pr-3 pr-lg-2">
                                        <label class="nobr valign-middle"><input type="checkbox" name="categories[]" value="9" {{ search_session.categories is defined and 9 in search_session.categories  ? "checked" : ""}}/><span>Vietnam</span></label><br />
                                        <label class="nobr valign-middle"><input type="checkbox" name="categories[]" value="10" {{ search_session.categories is defined and 10 in search_session.categories  ? "checked" }}/><span>Malaysia</span></label><br />
                                        <label class="nobr valign-middle"><input type="checkbox" name="categories[]" value="11" {{ search_session.categories is defined and 11 in search_session.categories  ? "checked" }}/><span>Other Asian</span></label><br />
                                        <label class="nobr valign-middle"><input type="checkbox" name="categories[]" value="12" {{ search_session.categories is defined and 12 in search_session.categories  ? "checked" }}/><span>Miscellaneous</span></label><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="torrenttable table-responsive mt-0 mb-4">
        <table class="torrenttable_helper bx-d-sm-0 w-100">
            <thead>
            <tr>
                <th width="1%" class="text-center">Type</th>
                <th class="text-left">Name</th>
                <th class="text-right"></th>
                <th width="5%" class="text-left d-none d-sm-table-cell">Uploader</th>
                <th width="7%" class="text-center d-none d-sm-table-cell">Size</th>
                <th width="1%" class="text-center d-none d-md-table-cell">Dn</th>
                <th width="1%" class="text-center d-none d-md-table-cell">Ul</th>
                <th width="1%" class="text-right d-none d-lg-table-cell">Age</th>
                <th width="1%" class="text-center d-none d-lg-table-cell">DLs</th>
                <th width="1%" class="text-center d-none d-lg-table-cell"><img src="{{ asset('images/trans.gif') }}" class="main-comments"  alt=""/></th>
            </tr>
            </thead>
            <tbody>
            {% if not torrents %}
            <tr>
                <td colspan="10" class="text-center">No torrents found.</td>
            </tr>
            {% else %}
                {% for torrent in torrents %}
                    <tr>
                        <td class="text-center p-0">
                            <img title="" src="{{ asset('images/trans.gif') }}" class=""  alt="category"/> {{ torrent.getTCategory.getName }}
                        </td>
                        <td>
                            <a class="no-decoration valign-middle" href="/torrent/{{ torrent.id }}"> {{ torrent.name }}
                                {% if torrent.added | date("H:i:s") < "-15 i" %}
                                    <span class="red"><b>(NEW)</b></span>
                                {% endif %}

                                {% if torrent.specs['format'] == "bdmv" %}
                                    <img title="Bluray" class="valign-middle" src="{{ asset('images/bd.svg') }}" width="25" height="25" />
                                {% elseif  torrent.specs['format'] == "uhd" %}
                                    <img title="UHD" class="valign-middle" src="{{ asset('images/uhd.svg') }}" width="100" height="25" />
                                {% endif %}

                                {% if torrent.bonus == "freeleech" %}
                                     <img title="golden" class="valign-middle" src="{{ asset('images/golden.gif') }}" />
                                {% elseif torrent.bonus == "silver" %}
                                     <img title="silver" class="valign-middle" src="{{ asset('images/silver.gif') }}" />
                                {% endif %}
                            </a>
                        </td>

                        <td class="text-left d-none d-sm-table-cell valign-middle">
                        <td class="text-left d-none d-sm-table-cell valign-middle">
                            <a href="{{ path('user.profile.id', {"id":torrent.owner.id}) }}">{{ torrent.owner.username }}</a>
                        </td>
                        <td class="text-center d-none d-md-table-cell">{{ filesystem.bytesToSize(torrent.size) }}</td>
                        <td class="text-center d-none d-md-table-cell">{{ torrent.seeders }}</td>
                        <td class="text-right d-none d-lg-table-cell">{{ torrent.leechers }}</td>
                        <td class="text-center d-none d-lg-table-cell dark-gray">{{ functions.timeago(torrent.added) }}</td>
                        <td class="text-center d-none d-lg-table-cell"></td>
                        <td class="text-center d-none d-lg-table-cell"></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    {% if total_pages >= 2 %}
        <div class="text-center mt-2 mb-4">
            {% for i in 1..total_pages  %}
                {% if current_page != i %}
                    <a  href="{{ path('torrents', {page: i}) }}">
                        <b>{{ i }}</b>
                    </a>
                {% else %}
                    <b>{{ current_page }}</b>
                {% endif %}
            {% endfor %}
            <br>
            <a class="mr-2" href="{{ path('torrents', {page: previous_page}) }}"> << Prev</a>
            <a class="ml-2" href="{{ path('torrents', {page: next_page}) }}">Next >></a>
        </div>
    {% endif %}
{% endblock %}