{% extends 'layout/tracker.html.twig' %}

{% block title %}Upload{% endblock %}

{% block body %}
    <div class="row small-device mt-4 mb-5" id="upload-content">
        <div class="col-12 col-xl-8 col-lg-10 mx-auto">
            <h1 class="text-center">Upload</h1>

            {{ form_start(uploadForm) }}
                <div class="fancy-container bx-d-sm-0">
                    <!-- annouce -->
                    <div class="fancy-row">
                        <div class="row small-device">
                            <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Announce URL</div>
                            <div class="col-12 col-sm-10">
                                <b class="black">{{ announce }}/announce</b>
                            </div>
                        </div>
                    </div>

                    <!-- file -->
                    <div class="fancy-row">
                        <div class="row small-device">
                            <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">{{ form_label(uploadForm.torrent_file) }}</div>
                            <div class="col-12 col-sm-10">
                                {{ form_widget(uploadForm.torrent_file) }}
                               {{ form_errors(uploadForm.torrent_file) }}
                            </div>
                        </div>
                    </div>

                    <!-- category -->
                    <div class="fancy-row">
                        <div class="row small-device">
                            <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">{{ form_label(uploadForm.tCategory) }}</div>
                            <div class="col-12 col-sm-10">{{ form_widget(uploadForm.tCategory)}} &nbsp;&nbsp;Japanese animation for 'Anime' category. Other countries are for live TV, non-Japanese animation and Drama CD/OST.
                            </div>
                        </div>
                    </div>
                    <!-- format -->
                    <div class="fancy-row" id="upload-format">
                        <div class="row small-device">
                            <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 pt-sm-1">Format</div>
                            <div class="col-12 col-sm-10 d-flex flex-column">
                                <label>
                                    <input id="upload-format-dvd" type="radio" name="template_radio" value="dvd" class="valign-middle" checked />
                                    <span class="valign-middle">DVD</span>
                                </label>
                                <label>
                                    <input id="upload-format-bdmv" type="radio" name="template_radio" value="bdmv"  class="valign-middle" />
                                    <span class="valign-middle">Blu-ray disc</span>
                                </label>
                                <label>
                                    <input id="upload-format-music" type="radio" name="template_radio" value="uhd" class="valign-middle" />
                                    <span class="valign-middle">Ultra HD</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- torrent name -->
                    <div class="fancy-row">
                        <div class="row small-device">
                            <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 pt-sm-1">{{ form_label(uploadForm.torrent_name) }}</div>
                            <div class="col-12 col-sm-10">
                                {{ form_widget(uploadForm.torrent_name) }}
                                <p class="mt-1 mb-0 smaller red"></p>
                                <p class="mt-1 mb-0 smaller">Name: Main, English, Native; box set part 1/2/3 of 3; S1 of 2 or S1 S2; orig/release year(s);post - PAL/SECAM/R2J/3D/MGVC - 1080i; UHD/DVD/BD/BDISO/DVDISO/CD 5/9 25/50/100; add custom to(if) audio/subs; en jp audio, en dub only; no/none en sub, no sub, jp subs only; 2 char. country if not Jp/US; other type</p>
                            </div>
                        </div>
                    </div>

                    <!-- release details template  -->
                    <div id="description" class="fancy-row">
                        <div class="row small-device">
                            <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 pt-1">Release Details</div>
                            <div class="col-12 col-sm-10">
                                <div id="upload-description-template-dvd">
                                    {{ form_widget(uploadForm.release_details) }}
                                </div>
                                <div class="d-none saved-template"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Scrapers -->
                    <div class="fancy-row">
                        <div class="row small-device">
                            <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Scrapper Service</div>
                            <div class="col-12 col-sm-10">
                                <select id="upload-scrapper" name="scrapper">
                                    <option value="mal">MAL</option>
                                    <option value="imdb">IMDb</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- content url -->
                    <div class="fancy-row " id="content-url">
                        <div class="row small-device">
                            <div id="content_name" class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 pt-sm-1">Scrapper Url</div>
                            <div class="col-12 col-sm-10">
                                <div class="d-flex">
                                    {{ form_widget(uploadForm.content_url) }}
                                   {# <input id="input-content-url" type="text" name="content_id" value="" class="mr-2 flex-fill" />#}
                                    <button class="btn" type="button" id="content-url-button">Import Content Info</button>
                                </div>
                                <p id="content_small_text" class="mt-1 mb-0 smaller"></p>
                            </div>
                        </div>
                    </div>

                    <!-- poster file -->
                    <div class="fancy-row">
                        <div class="row small-device">
                            <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Poster</div>
                            <div class="col-12 col-sm-10">
                                <span>Poster is downloaded from scrapper, when you get info from scrapper, the poster should be visible here.</span>
                                <div id="image-from-scrapper-content" class="d-none">
                                    <img class="mt-2 torrent-cover" src="" id="image-from-scrapper" /><br>
                                    {{ form_widget(uploadForm.content_poster) }}
                                    {#<input style="width: 300px" class="" type="text" id="image_url" name="image_url" value="">#}
                                    <br />
                                    <p class="mt-1 mb-0 smaller">This image will be placed in torrent file.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- content info -->
                    <div class="fancy-row" id="upload-content-info">
                        <div class="row small-device">
                            <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">{{ form_label(uploadForm.content_info) }}</div>
                            <div class="col-12 col-sm-10" id="upload-format-type-box">
                                {{ form_widget(uploadForm.content_info) }}
                            </div>
                        </div>
                    </div>

                    <!-- media info -->
                    <div class="fancy-row">
                        <div class="row small-device">
                            <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 pt-1">{{ form_label(uploadForm.mediainfo) }}</div>
                            <div class="col-12 col-sm-10">
                                {{ form_widget(uploadForm.mediainfo) }}
                            </div>
                        </div>
                    </div>

                    <!-- file -->
                    <div class="fancy-row">
                        <div class="row small-device">
                            <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">NFO file</div>
                            <div class="col-12 col-sm-10">
                                <input type="file" class="file" name="nfo_file" />
                                <p class="mt-1 mb-0 small">(use <b>.nfo</b> file only)</p>
                            </div>
                        </div>
                    </div>

                    <!-- make request button -->
                    <div class="fancy-row">
                        <div class="row small-device">
                            <div class="col-12 text-center">
                                <input id="qr" type="submit" name="upload" class="btn" value="Upload" />
                                <input id="preview_btn" type="button" name="preview" class="btn" value="Preview" />
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(uploadForm) }}
        </div>
    </div>

    <!-- Modal window -->
    <div id="simple-adc-modal" class="modal">
        <div class="modal-wrapper">
            <header>
                <h4 id="simple-adc-modal-header"></h4>
                <a href="#" rel="modal:close">[close]</a>
            </header>
            <div class="modal-body">
                <div class="inner-modal-body"></div>
            </div>
        </div>
    </div>

    <!-- Preview page -->
    <div class="row small-device mt-4 mb-5 d-none" id="preview-content">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-12">
            <h1 class="text-center" id="preview-torrent-name"></h1>
            <div class="fancy-container bx-d-sm-0">

                <!-- actions -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Actions</div>
                        <div class="col-12 col-sm-10">
                            <div class="d-flex">
                                <a class="mr-2" href="#"><b>Download</b></a>
                                <a title="Add bookmark" href="#">
                                    <b>Bookmark</b>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- uploaded by -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 nobr">Uploaded by</div>
                        <div class="col-12 col-sm-10">
                            <a class="r04" href="/profile/{{ user.id  }}"><b>{{ user.username }}</b></a>
                        </div>
                    </div>
                </div>

                <!-- size -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Size</div>
                            <div class="col-12 col-sm-10" id="preview-torrent-size"></div>
                    </div>
                </div>

                <!-- description & image -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Release Details</div>
                        <div class="col-12 col-sm-10">
                            <div class="row small-device">
                                <div class="col-xl-5 mb-2 mb-xl-0 col-12">
                                    <img src="" id="preview-image" class="valign-top torrent-cover" />
                                </div>
                                <div class="col-xl-7 col-12">
                                    <div id="release-details" class="markdown-body"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- mal / imdb info -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Content Info</div>
                        <div class="col-12 col-sm-10">
                            <div class="markdown-body" id="content-parsed-message"></div>
                        </div>
                    </div>
                </div>

                <!-- media info -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Mediainfo</div>
                        <div class="col-12 col-sm-10">
                            <div id="show-media-info-block">
                                <a href="#" id="adc-torrent-mediainfo">[view]</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- files -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Torrent Files</div>
                            <div class="col-12 col-sm-10" id="preview-torrent-files"></div>
                        <div class="d-none" id="adc-files-list"></div>
                    </div>
                </div>

                <!-- info hash -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Info hash</div>
                            <div class="col-12 col-sm-10" id="preview-info-hash"></div>
                    </div>
                </div>

                <!-- peers -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1"><span class="d-block">Peers</span></div>
                        <div class="col-12 col-sm-10">
                            <img src="{{ asset('images/trans.gif') }}" class="main-arrowup valign-bottom" /> <b class="green">0</b> seeders
                            &nbsp;
                            <img src="{{ asset('images/trans.gif') }}" class="main-arrowdown valign-bottom" /> <b class="red">0</b> leechers
                        </div>
                    </div>
                </div>

                <!-- make request button -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="col-12 text-center">
                            <input id="upload_return" type="button" class="btn" value="Return" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}