{% extends 'layout/tracker.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row small-device mt-4 mb-5">
        <div class="col-xl-9 col-lg-8 col-12">
            <h2 class="text-center-d-sm"></h2>
            <div class="news bx-d-sm-0">
                {% if not news %}
                <p>It appears that we've been to busy watching Asian movies to post any news recently :(</p>
                {% else %}

                <div class="news-container">
                    {% for value in news %}
                    <p class="mt-0 mb-1 mt-2">
                        Posted {{ value.added | date("m/d/Y")}}
                        -- by
                        <b><a href="/profile/{{ value.addedBy.id }}">{{ value.addedBy.username }}</a></b>
                    </p>
                    <div class="card card-block">
                        <div class="news-body">
                            <div class="d-flex align-items-start justify-content-between">
                                <h1 class="mt-0">{{ value.title }}</h1>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="btn no-decoration text-center" href="/delete_news/{{ value.id }}">Delete</a>
                                {% endif %}
                            </div>
                            <div class="news-text" data-id="{{ value.id | raw }}">
                                {% apply markdown_to_html %}
                                    {{ value.text }}
                                {% endapply %}
                            </div>
                            <div id="single-parsed-news-{{ value.id | raw}}"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn no-decoration mt-3" href="/create_news">New</a>
                {% endif %}
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-12 d-lg-block d-none">
            <h2 class="text-center-d-sm">Statistics</h2>
            <div class="news">
                <table class="statstable b-0 w-100">
                    <tbody>
                    <tr>
                        <td class="descriptor">Active accounts</td>
                        <td class="figure">{{ trackerCache.trackerStatus.active_accounts }}</td>
                    </tr>
                    <tr>
                        <td class="descriptor">Users Active Today</td>
                        <td class="figure"></td>
                    </tr>
                    <tr>
                        <td class="descriptor">Active Browsing Users</td>
                        <td class="figure"></td>
                    </tr>
                    <!--  <tr>
                         <td class="descriptor"><?php echo $data['lang_index']['row_warned_users']; ?></td>
                         <td class="figure"></td>
                     </tr> -->
                    <tr>
                        <td class="descriptor">Warned Users</td>
                        <td class="figure"></td>
                    </tr>
                    <tr>
                        <td class="descriptor">Total Torrents</td>
                        <td class="figure">{{ trackerCache.trackerStatus.torrents }}</td>
                    </tr>
                    <tr>
                        <td class="descriptor">Blu-ray</td>
                        <td class="figure"></td>
                    </tr>
                    <tr>
                        <td class="descriptor">UHD Blu-ray</td>
                        <td class="figure"></td>
                    </tr>
                    <tr>
                        <td class="descriptor">DVD</td>
                        <td class="figure"></td>
                    </tr>
                    <tr>
                        <td class="descriptor">Total Peers</td>
                        <td class="figure">{{ trackerCache.trackerStatus.peers }}</td>
                    </tr>
                    <tr>
                        <td class="descriptor">Seeders</td>
                        <td class="figure"></td>
                    </tr>
                    <tr>
                        <td class="descriptor">Leechers</td>
                        <td class="figure"></td>
                    </tr>
                    <tr>
                        <td class="descriptor">Ratio S/L</td>
                        <td class="figure"></td>
                    </tr>
                    </tbody>
                </table>
                <p class="mb-0 small center">Stats are updated every 15 minutes</p>
            </div>
        </div>
    </div>
{% endblock %}
