{% extends 'layout/tracker.html.twig' %}
{% import'macros/filesystem.html.twig' as filesystem %}

{% block title %}Active{% endblock %}

{% block body %}
    <div class="row small-device mt-4 mb-5">
        <div class="col-xl-8 col-lg-10 col-12 mx-auto">
            <h1 class="text-center">
                <span class="valign-middle">{{ trackerCache.userStats.username }}</span> &nbsp;
                <img class="valign-middle" src="{{ asset('images/flag/' ~ trackerCache.userStats.flagpic) }}" alt="{{ trackerCache.userStats.country }}">
                {% if trackerCache.userStats.title is defined %}
                    <img class="valign-middle" width="25" height="25" src="{{ asset('/images/svg_donation/' ~ trackerCache.userStats.title.titlepic ) }}" alt="{{ trackerCache.userStats.title.name }}" title="{{ trackerCache.userStats.title.name }}">
                {% endif %}
            </h1>

            <div class="text-center">
                <div class="flex w-100">
                    <a href="{{ path('user.profile') }}" class="no-decoration btn mb-1 no-hover-color">Profile</a>
                    <a href="{{ path('user.settings') }}" class="no-decoration btn mb-1 no-hover-color">General</a>
                    <a href="{{ path('user.tracker') }}" class="no-decoration btn mb-1 no-hover-color">Tracker</a>
                    <a href="{{ path('user.forum') }}" class="no-decoration btn mb-1 no-hover-color">Forum</a>
                    <a href="{{ path('user.security') }}" class="no-decoration btn mb-1 no-hover-color">Security</a>
                    <span class="btn active mb-1">Active</span>
                </div>
            </div>
            <div class="fancy-container mt-3 bx-d-lg-0">
                {{ form_start(searchForm) }}
                <div class="col-lg-6 col-md-6 d-flex order-3 order-md-2 order-lg-1 mt-1 table-center">
                    <div class=" bt-0 br-md-0 bx-d-sm-0 w-100">
                        <div class="p-2">
                            {{ form_widget(searchForm.search_text) }}
                            <p class="m-0 p-0 mt-2 text-right">
                               {{ form_widget(searchForm.search) }}
                                <input class="btn" type="submit" name="reset" value="Reset">
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex order-2 order-md-3 order-lg-2 mb-1 mt-1 ml-2">
                        <div class="bt-0 bb-d-md-0 br-lg-0 bx-d-sm-0 w-100">
                            <div class="row small-device row-cols-auto">
                                <div class="col-md-3 pl-3 pl-lg-2">
                                    <label class="nobr valign-middle"><input type="checkbox" name="my_uploads" value="1"><span>My Uploads</span></label><br>
                                    <label class="nobr valign-middle"><input type="checkbox" name="completed" value="1" {{ active == "active_torrents" ? "checked" : "" }}><span>Completed</span></label><br>
                                </div>
                                <div class="col-md-8 pl-3 pl-lg-5">
                                    <label class="nobr valign-middle"><input type="checkbox" name="leeching" value="1"><span>Leeching</span></label><br>
                                    <label class="nobr valign-middle"><input type="checkbox" name="seeding" value="1"><span>Seeding</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(searchForm) }}
            </div>

            <div class="torrenttable table-responsive mt-3 mb-4 text-right">
                <input class="btn mb-2" type="submit" name="zip_torrents" value="Download Torrents">
                <table class="torrenttable_helper bx-d-sm-0 w-100">
                    <thead>
                    <tr>
                        <th class="text-left">Name</th>
                        <th class="text-right"></th>
                        <th class="text-left d-none d-sm-table-cell">Uploader</th>
                        <th width="10%" class="text-center d-none d-sm-table-cell">Size</th>
                        <th width="1%" class="text-center d-none d-md-table-cell">Up</th>
                        <th width="1%" class="text-center d-none d-md-table-cell">Dn</th>
                        <th width="10%" class="text-right d-none d-lg-table-cell">Age</th>
                        <th width="1%" class="text-center d-none d-lg-table-cell">Uploaded</th>
                        <th width="1%" class="text-center d-none d-lg-table-cell">Downloaded</th>
                        <th width="1%" class="text-center d-none d-lg-table-cell">Ratio</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if peers is  empty %}
                        <tr>
                            <td colspan="10" class="center">You don't have any torrents on seed/leech</td>
                        </tr>
                    {% else %}
                        {% for peer in peers %}
                        <tr>
                            <td>
                                <a class="no-decoration f-left" href="{{ path('torrent', {id:peer.torrent.id}) }}">
                                    {% if peer.toGo == 0 %}
                                        <img src="{{ asset('images/trans.gif') }} " class="main-arrowup valign-bottom" />
                                    {% else %}
                                        <img src="{{ asset('images/trans.gif') }}" class="main-arrowdown valign-bottom" />
                                    {% endif %}
                                    {{ peer.torrent.name }}
                                </a>
                            </td>
                            <td class="text-center d-none d-sm-table-cell">
                                <img title="" class="valign-middle" height="15" width="15" src="{{ asset('images/') }}">
                            </td>
                            <td class="text-left d-none d-sm-table-cell valign-middle">
                                <a href="{{ path('user.profile.id', {id:peer.torrent.owner.id}) }}">
                                    {{ peer.torrent.owner.username }}
                                </a>
                            </td>

                            <td class="text-center d-none d-sm-table-cell">{{  filesystem.bytesToSize(peer.torrent.size) }}</td>
                            <td class="text-center d-none d-md-table-cell">{{ peer.torrent.seeders }}</td>
                            <td class="text-center d-none d-md-table-cell">{{ peer.torrent.leechers }}</td>
                            <td class="text-right d-none d-lg-table-cell dark-gray"></td>
                            <td class="text-center d-none d-lg-table-cell">{{ filesystem.bytesToSize(peer.uploaded) }}</td>
                            <td class="text-center d-none d-lg-table-cell">{{ filesystem.bytesToSize(peer.downloaded) }}</td>
                            <td class="text-center d-none d-lg-table-cell">{{ peer.downloaded != 0 ? peer.uploaded/peer.downloaded : "NTD" }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}