{% extends 'layout/tracker.html.twig' %}

{% block title %}Forum Settings{% endblock %}

{% block body %}
    <div class="row small-device mt-4 mb-5">
        <div class="col-xl-8 col-lg-10 col-12 mx-auto">
            <h1 class="text-center">
                <span class="valign-middle">{{ user.username }}</span> &nbsp;
                <img class="valign-middle" src="{{ asset('images/flag/' ~ country.flagpic) }}" alt="{{ country.name }}">
                <img class="valign-middle" width="25" height="25" src="/images/">
            </h1>

            <div class="text-center">
                <div class="flex w-100">
                    <a href="{{ path('user.profile') }}" class="no-decoration btn mb-1 no-hover-color">Profile</a>
                    <a href="{{ path('user.settings') }}" class="no-decoration btn mb-1 no-hover-color">General</a>
                    <a href="{{ path('user.tracker') }}" class="no-decoration btn mb-1 no-hover-color">Tracker</a>
                    <span class="btn active mb-1">Forum</span>
                    <a href="{{ path('user.security') }}" class="no-decoration btn mb-1 no-hover-color">Security</a>
                    <a href="{{ path('user.active') }}" class="no-decoration btn mb-1 no-hover-color">Active</a>
                </div>
            </div>

            <div class="fancy-container mt-3 bx-d-sm-0">
                <!-- details -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20">Topics per page</div>
                        <div class="col-12 col-sm-10">
                            <input type="number" name="topics_per_page" value="<?php echo $data['fs']['topics_per_page']; ?>" min="0" max="100" />
                            <br />
                            <p class="small mt-1 mb-0">(max = 100, 0 = default)</p>
                        </div>
                    </div>
                </div>

                <!-- torrents per page -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20">Posts per page</div>
                        <div class="col-12 col-sm-10">
                            <input type="number" name="posts_per_page" value="<?php echo $data['fs']['posts_per_page']; ?>" min="0" max="100"/>
                            <br />
                            <p class="small mt-1 mb-0">(max = 100, 0 = default)</p>
                        </div>
                    </div>
                </div>

                <!-- forum signature -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20">Forum signature</div>
                        <div class="col-12 col-sm-10">
                            <textarea autocomplete="off" name="text_area" id="markdown-editor"></textarea>
                        </div>
                    </div>
                </div>

                <!-- save settings button -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="col-12 col-sm-2"></div>
                        <div class="col-12 col-sm-10">
                            <input type="submit" class="btn" name="submit" value="Save settings" />
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}