{% extends 'layout/tracker.html.twig' %}
{% import'macros/filesystem.html.twig' as filesystem %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="row small-device mt-4 mb-5">
    <div class="col-xl-8 col-lg-10 col-12 mx-auto">
        <h1 class="text-center">
            <span class="valign-middle">{{ trackerCache.userStats.username }}</span> &nbsp;
            <img class="valign-middle" src="{{ asset('images/flag/' ~ trackerCache.userStats.flagpic) }}" alt="{{ trackerCache.userStats.country }}">
            {% if trackerCache.userStats.title is defined %}
                <img class="valign-middle" width="25" height="25" src="{{ asset('/images/svg_donation/' ~ trackerCache.userStats.title.titlepic ) }}" alt="{{ trackerCache.userStats.title.name }}" title="{{ trackerCache.userStats.title.name }}">
            {% endif %}
        </h1>

        <div class="text-center">
            <div class="flex w-100">
                <span class="btn active mb-1">Profile</span>
                <a href="{{ path('user.settings') }}" class="no-decoration btn mb-1 no-hover-color">General</a>
                <a href="{{ path('user.tracker') }}" class="no-decoration btn mb-1 no-hover-color">Tracker</a>
                <a href="{{ path('user.forum') }}" class="no-decoration btn mb-1 no-hover-color">Forum</a>
                <a href="{{ path('user.security') }}" class="no-decoration btn mb-1 no-hover-color">Security</a>
                <a href="{{ path('user.active') }}" class="no-decoration btn mb-1 no-hover-color">Active</a>
            </div>
        </div>

        <div class="fancy-container mt-3 bx-d-sm-0">
            <!-- join date -->
            <div class="fancy-row">
                <div class="row small-device">
                    <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Joined</div>
                    <div class="col-12 col-sm-10">
                        {{ trackerCache.userStats.added | date('Y.m.d') }}
                    </div>
                </div>
            </div>

            <!-- last seen -->
            <div class="fancy-row">
                <div class="row small-device">
                    <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Last seen</div>
                    <div class="col-12 col-sm-10">
                        {{ trackerCache.userStats.last_action | date("Y-m-d h:i:s") }}
                    </div>
                </div>
            </div>

            <!-- invited by -->
            <div class="fancy-row">
                <div class="row small-device">
                    <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Invited by</div>
                    <div class="col-12 col-sm-10">
{#                        {{ trackerCache.userStats.invited_by is null ? "System" : "<a>  </a>" }}#}
                    </div>
                </div>
            </div>

            <!-- ip address -->
            <div class="fancy-row">
                <div class="row small-device">
                    <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">IP address</div>
                    <div class="col-12 col-sm-10">
                        {{ trackerCache.userStats.ip }}
                    </div>
                </div>
            </div>

            <!-- uploaded -->
            <div class="fancy-row">
                <div class="row small-device">
                    <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Uploaded</div>
                    <div class="col-12 col-sm-10">
                        {{ filesystem.bytesToSize(trackerCache.userStats.uploaded) }}
                    </div>
                </div>
            </div>

            <!-- downloaded -->
            <div class="fancy-row">
                <div class="row small-device">
                    <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Downloaded</div>
                    <div class="col-12 col-sm-10">
                        {{ filesystem.bytesToSize(trackerCache.userStats.downloaded) }}
                    </div>
                </div>
            </div>

            <!-- share ratio -->
            <div class="fancy-row">
                <div class="row small-device">
                    <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Ratio</div>
                    <div class="col-12 col-sm-10">
                        {#{{ user.uploaded / user.downloaded }}#}
                    </div>
                </div>
            </div>

            <!-- avatar -->
            <div class="fancy-row">
                <div class="row small-device">
                    <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Avatar</div>
                    <div class="col-12 col-sm-10">
                        <img src="{{ path('avatar', {"id": trackerCache.userStats.id}) }}" class="profile-avatar" />
                    </div>
                </div>
            </div>

            <!-- class -->
            <div class="fancy-row">
                <div class="row small-device">
                    <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Class</div>
                    <div class="col-12 col-sm-10">
                        {{ trackerCache.userStats.class.name }}
                    </div>
                </div>
            </div>

            {% if trackerCache.userStats.title is defined %}
                <!-- title -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Title</div>
                        <div class="col-12 col-sm-10">
                            {{ trackerCache.userStats.title.name }}
                        </div>
                    </div>
                </div>
            {% endif %}


            <!-- invites -->
            <div class="fancy-row">
                <div class="row small-device">
                    <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Invites</div>
                    <div class="col-12 col-sm-10">
                        {{ trackerCache.userStats.invites }}
                        <a href="{{ path('user.send_invite') }}">[Send invite]</a>
                        <!--
                        <div class="my-0 align-items-center d-flex">
                            Redeem bonus points for single invite
                            <input type="button" class="ml-2 btn" value="Proceed" onclick="exchangeBonusPointsForInvite()" />
                        </div>-->
                    </div>
                </div>
            </div>

            <!-- forum posts -->
            <div class="fancy-row">
                <div class="row small-device">
                    <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Forum posts</div>
                    <div class="col-12 col-sm-10">
                        0
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
