{% extends 'layout/tracker.html.twig' %}

{% block title %}Profile Settings{% endblock %}

{% block body %}
    <div class="row small-device mt-4 mb-5">
            <div class="col-xl-8 col-lg-10 col-12 mx-auto">
            <h1 class="text-center">
                <span class="valign-middle">{{ user.username }}</span> &nbsp;
                <img class="valign-middle" src="{{ asset('images/flag/' ~ country.flagpic) }}" alt="{{ country.name }}">
                <img class="valign-middle" width="25" height="25" src="/images/">
            </h1>

            <div class="text-center">
                <div class="flex w-100">
                    <a href="{{ path('user.profile') }}" class="no-decoration btn mb-1 no-hover-color">Profile</a>
                    <span class="btn active mb-1">General</span>
                    <a href="{{ path('user.tracker') }}" class="no-decoration btn mb-1 no-hover-color">Tracker</a>
                    <a href="{{ path('user.forum') }}" class="no-decoration btn mb-1 no-hover-color">Forum</a>
                    <a href="{{ path('user.security') }}" class="no-decoration btn mb-1 no-hover-color">Security</a>
                    <a href="{{ path('user.active') }}" class="no-decoration btn mb-1 no-hover-color">Active</a>
                </div>
            </div>

            <div class="fancy-container mt-3 bx-d-sm-0">
                {{ form_start(userSettings) }}
                <!-- account parked -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20">{{ form_label(userSettings.parked) }}</div>
                        <div class="col-12 col-sm-10">
                            <label class="valign-middle">
                                {{ form_widget(userSettings.parked) }}
                                <span>I will be away for a long time.</span>
                            </label>
                        </div>
                    </div>
                </div>

                <!-- accept pms from -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20">{{ form_label(userSettings.accept_pms) }}</div>
                        <div class="col-12 col-sm-10 d-flex flex-column">
                            {{ form_widget(userSettings.accept_pms) }}
                        </div>
                    </div>
                </div>

                <!-- pm details -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20">{{ form_label(userSettings.pm_details) }}</div>
                        <div class="col-12 col-sm-10">
                            {{ form_widget(userSettings.pm_details) }}
                        </div>
                    </div>
                </div>

                <!-- country -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20">{{ form_label(userSettings.id_country) }}</div>
                        <div class="col-12 col-sm-10">
                            {{ form_widget(userSettings.id_country) }}
                        </div>
                    </div>
                </div>

                <!-- avatar -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">{{ form_label(userSettings.avatar) }}</div>
                        <div class="col-12 col-sm-10">
                            {{ form_widget(userSettings.avatar) }}
                        </div>
                    </div>
                </div>

                <!-- profile description -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Summary</div>
                        <div class="col-12 col-sm-10">
                            <textarea autocomplete="off" name="text_area" id="markdown-editor"></textarea>
                        </div>
                    </div>
                </div>

                <!-- save settings button -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="col-12 col-sm-2"></div>
                        <div class="col-12 col-sm-10">
                            {{ form_widget(userSettings.submit) }}
                        </div>
                    </div>
                </div>
            </div>
                {{ form_end(userSettings) }}
            </div>
        </div>
    </div>
{% endblock %}