{% extends 'layout/tracker.html.twig' %}

{% block title %}Security Settings{% endblock %}

{% block body %}
    <div class="row small-device mt-4 mb-5">
        <div class="col-xl-8 col-lg-10 col-12 mx-auto">
            <h1 class="text-center">
                <span class="valign-middle">{{ trackerCache.userStats.username }}</span> &nbsp;
                <img class="valign-middle" src="{{ asset('images/flag/' ~ trackerCache.userStats.flagpic) }}" alt="{{ trackerCache.userStats.country }}">
                {% if trackerCache.userStats.title is defined %}
                    <img class="valign-middle" width="25" height="25" src="{{ asset('/images/svg_donation/' ~ trackerCache.userStats.title.titlepic ) }}" alt="{{ trackerCache.userStats.title.name }}" title="{{ trackerCache.userStats.title.name }}">
                {% endif %}
            </h1>

            <div class="text-center">
                <div class="flex w-100">
                    <a href="{{ path('user.profile') }}" class="no-decoration btn mb-1 no-hover-color">Profile</a>
                    <a href="{{ path('user.settings') }}" class="no-decoration btn mb-1 no-hover-color">General</a>
                    <a href="{{ path('user.tracker') }}" class="no-decoration btn mb-1 no-hover-color">Tracker</a>
                    <a href="{{ path('user.forum') }}" class="no-decoration btn mb-1 no-hover-color">Forum</a>
                    <span class="btn active mb-1">Security</span>
                    <a href="{{ path('user.active') }}" class="no-decoration btn mb-1 no-hover-color">Active</a>
                </div>
            </div>


            {% for message in app.flashes('security_settings') %}
                    <div class="fancy-container mt-3 text-center justify-content-center">
                        <h2 class="mt-1"> {{ message }} </h2>
                    </div>
            {% endfor %}


            <div class="fancy-container mt-3 bx-d-sm-0">
                {{ form_start(security_form) }}
                <!-- reset passkey -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20 red">Reset Passkey:</div>
                        <div class="col-12 col-sm-10">
                            {{ form_widget(security_form.reset_passkey) }}
{#                            <p class="small mt-1 mb-0">By checking this your passkey will be reseted and you will need to redownload the .torrent files in order to seed again. </p>#}
                        </div>
                    </div>
                </div>

                <!-- email -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20">{{ form_label(security_form.change_email) }}</div>
                        <div class="col-12 col-sm-10">
                            {{ form_widget(security_form.change_email) }}
                            <p class="small mt-1 mb-0">Confirmation email will be send to the old account</p>
                        </div>
                    </div>
                </div>

                <!-- old password -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20">{{ form_label(security_form.old_password) }}</div>
                        <div class="col-12 col-sm-10">
                            {{ form_widget(security_form.old_password) }}
                            <p class="small mt-1 mb-0">Verify your old password</p>
                            <p class="small mt-1 mb-0">{{ form_errors(security_form.old_password) }}</p>
                        </div>
                    </div>
                </div>

                <!-- new password -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20">{{ form_label(security_form.password.first) }}</div>
                        <div class="col-12 col-sm-10">
                            {{ form_widget(security_form.password.first) }}
                            <p class="small mt-1 mb-0">Enter new password, must be  12-20 characters, one uppercase, number, special character, <b>do not use ? & ` ~ ' / \ ; ( ) € ‘ ´ ^ | ~ £ ¥</b></p>
                            <p class="small mt-1 mb-0">{{ form_errors(security_form.password.first) }}</p>
                        </div>
                    </div>
                </div>

                <!-- confirm password -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20">{{ form_label(security_form.password.second) }}</div>
                        <div class="col-12 col-sm-10">
                            {{ form_widget(security_form.password.second) }}
                            <p class="small mt-1 mb-0">Re-enter your new password</p>
                            <p class="small mt-1 mb-0">{{ form_errors(security_form.password.second) }}</p>
                        </div>
                    </div>
                </div>

                <!-- save settings button -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="col-12 col-sm-2"></div>
                        <div class="col-12 col-sm-10">
                            {{ form_widget(security_form.submit) }}
                        </div>
                    </div>
                </div>
                {{ form_end(security_form) }}
            </div>
            </div>
        </div>
{% endblock %}