{% extends 'layout/tracker.html.twig' %}

{% block title %}Send invite{% endblock %}

{% block body %}
<div class="row small-device mt-4 mb-5">
    <div class="col-xl-8 col-lg-10 col-12 mx-auto">
        <h1 class="text-center">
            <span class="valign-middle">{{ trackerCache.userStats.username }}</span> &nbsp;
            <img class="valign-middle" src="{{ asset('images/flag/' ~ trackerCache.userStats.flagpic) }}" alt="{{ trackerCache.userStats.country }}">
            {% if trackerCache.userStats.title is defined %}
                <img class="valign-middle" width="25" height="25" src="{{ asset('/images/svg_donation/' ~ trackerCache.userStats.title.titlepic ) }}" alt="{{ trackerCache.userStats.title.name }}" title="{{ trackerCache.userStats.title.name }}">
            {% endif %}
        </h1>

        <div class="text-center">
            <div class="flex w-100">
                <span class="btn active mb-1">Profile</span>
                <a href="{{ path('user.settings') }}" class="no-decoration btn mb-1 no-hover-color">General</a>
                <a href="{{ path('user.tracker') }}" class="no-decoration btn mb-1 no-hover-color">Tracker</a>
                <a href="{{ path('user.forum') }}" class="no-decoration btn mb-1 no-hover-color">Forum</a>
                <a href="{{ path('user.security') }}" class="no-decoration btn mb-1 no-hover-color">Security</a>
                <a href="{{ path('user.active') }}" class="no-decoration btn mb-1 no-hover-color">Active</a>
            </div>
        </div>

        <div class="fancy-container mt-3 bx-d-sm-0">
            {{ form_start(sendInvite) }}
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20">{{ form_label(sendInvite.email) }}</div>
                        <div class="col-12 col-sm-10">
                            <label class="valign-middle">
                                {{ form_widget(sendInvite.email) }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="col-12 col-sm-2"></div>
                        <div class="col-12 col-sm-10">
                            {{ form_widget(sendInvite.submit) }}
                        </div>
                    </div>
                </div>
            {{ form_end(sendInvite) }}
        </div>
    </div>
</div>
{% endblock %}