{% extends 'layout/tracker.html.twig' %}

{% block title %}Profile Settings{% endblock %}

{% block body %}
    <div class="row small-device mt-4 mb-5">
        <div class="col-xl-8 col-lg-10 col-12 mx-auto">
            <h1 class="text-center">
                <span class="valign-middle">{{ user.username }}</span> &nbsp;
                <img class="valign-middle" src="{{ asset('images/flag/' ~ country.flagpic) }}" alt="{{ country.name }}">
                <img class="valign-middle" width="25" height="25" src="/images/">
            </h1>

            <div class="text-center">
                <div class="flex w-100">
                    <a href="{{ path('user.profile') }}" class="no-decoration btn mb-1 no-hover-color">Profile</a>
                    <a href="{{ path('user.settings') }}" class="no-decoration btn mb-1 no-hover-color">General</a>
                    <span class="btn active mb-1">Tracker</span>
                    <a href="{{ path('user.forum') }}" class="no-decoration btn mb-1 no-hover-color">Forum</a>
                    <a href="{{ path('user.security') }}" class="no-decoration btn mb-1 no-hover-color">Security</a>
                    <a href="{{ path('user.active') }}" class="no-decoration btn mb-1 no-hover-color">Active</a>
                </div>
            </div>

            <div class="fancy-container mt-3 bx-d-sm-0">
                {{ form_start(trackerSettings) }}
                <!-- details -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20">{{ form_label(trackerSettings.torrent_details) }}</div>
                        <div class="col-12 col-sm-10">
                            {% for value in trackerSettings.torrent_details %}
                                {{ form_widget(value) }}
                                {{ form_label(value) }}
                                <br/>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- torrents per page -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20">{{ form_label(trackerSettings.torrents_page) }}</div>
                        <div class="col-12 col-sm-10">
                            {{ form_widget(trackerSettings.torrents_page) }}
                        </div>
                    </div>
                </div>

                <!-- comments per torrent page -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20">{{ form_label(trackerSettings.comments_torrent_page) }}</div>
                        <div class="col-12 col-sm-10">
                            {{ form_widget(trackerSettings.comments_torrent_page) }}
                        </div>
                    </div>
                </div>

                <!-- save settings button -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="col-12 col-sm-2"></div>
                        <div class="col-12 col-sm-10">
                            {{ form_widget(trackerSettings.submit) }}
                        </div>
                    </div>
                </div>
                {{ form_end(trackerSettings) }}
            </div>
        </div>
    </div>
{% endblock %}