{% extends 'layout/tracker.html.twig' %}

{% block title %}Profile Settings{% endblock %}

{% block body %}
    <div class="row small-device mt-4 mb-5">
        <div class="col-xl-8 col-lg-10 col-12 mx-auto">
            <h1 class="text-center">
                <span class="valign-middle">{{ user.username }}</span> &nbsp;
                <img class="valign-middle" src="{{ asset('images/flag/' ~ country.flagpic) }}" alt="{{ country.name }}">
                <img class="valign-middle" width="25" height="25" src="/images/">
            </h1>

            <div class="text-center">
                <div class="flex w-100">
                    <a href="{{ path('user.profile') }}" class="no-decoration btn mb-1 no-hover-color">Profile</a>
                    <a href="{{ path('user.settings') }}" class="no-decoration btn mb-1 no-hover-color">General</a>
                    <span class="btn active mb-1">Tracker</span>
                    <a href="{{ path('user.forum') }}" class="no-decoration btn mb-1 no-hover-color">Forum</a>
                    <a href="{{ path('user.security') }}" class="no-decoration btn mb-1 no-hover-color">Security</a>
                    <a href="{{ path('user.active') }}" class="no-decoration btn mb-1 no-hover-color">Active</a>
                </div>
            </div>

            <div class="fancy-container mt-3 bx-d-sm-0">
                <!-- details -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20">Torrent details</div>
                        <div class="col-12 col-sm-10">
                            <label class="valign-middle">
                                <input type="checkbox" id="show_desc" name="show_desc" />
                                <span>Show torrent description.</span>
                            </label>
                            <br />
                            <label class="valign-middle">
                                <input type="checkbox" id="show_nfo" name="show_nfo"  />
                                <span>Show NFO file.</span>
                            </label>
                            <br />
                            <label class="valign-middle">
                                <input type="checkbox" id="show_content" name="show_content"/>
                                <span>Show additional information (AniDB, IMDb).</span>
                            </label>
                            <br />
                            <label class="valign-middle">
                                <input type="checkbox" id="show_content" name="show_mediainfo" />
                                <span>Show Media info link.</span>
                            </label>
                        </div>
                    </div>
                </div>

                <!-- torrents per page -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20">Torrents / page</div>
                        <div class="col-12 col-sm-10">

                        </div>
                    </div>
                </div>

                <!-- comments per torrent page -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 lh-20">Comments / page</div>
                        <div class="col-12 col-sm-10">

                        </div>
                    </div>
                </div>

                <!-- save settings button -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="col-12 col-sm-2"></div>
                        <div class="col-12 col-sm-10">
                            <input type="submit" class="btn" name="submit" value="Save settings" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}