{% extends 'layout/tracker.html.twig' %}

{% block title %}Active{% endblock %}

{% block body %}
    <div class="row small-device mt-4 mb-5">
        <div class="col-xl-8 col-lg-10 col-12 mx-auto">
            <h1 class="text-center">
                <span class="valign-middle">{{ user.username }}</span> &nbsp;
                <img class="valign-middle" src="{{ asset('images/flag/' ~ country.flagpic) }}" alt="{{ country.name }}">
                {% if title is not null %}
                    <img class="valign-middle" width="25" height="25" src="{{ asset('/images/svg_donation/' ~ title.titlepic) }}" alt="{{ title.name }}" title="{{ title.name }}">
                {% endif %}
            </h1>

            <div class="text-center">
                <div class="flex w-100">
                    <a href="{{ path('user.profile.id', {"id":user.id}) }}" class="no-decoration btn mb-1 no-hover-color">Profile</a>
                    <span class="btn active mb-1">Active</span>
                </div>
            </div>

            <div class="torrenttable table-responsive mt-3 mb-4">
                <table class="torrenttable_helper bx-d-sm-0 w-100">
                    <thead>
                    <tr>
                        <th class="text-left">Name</th>
                        <th class="text-right"></th>
                        <th class="text-left d-none d-sm-table-cell">Uploader</th>
                        <th width="1%" class="text-center d-none d-sm-table-cell">Size</th>
                        <th width="1%" class="text-center d-none d-md-table-cell">Up</th>
                        <th width="1%" class="text-center d-none d-md-table-cell">Dn</th>
                        <th width="1%" class="text-right d-none d-lg-table-cell">Age</th>
                        <th width="1%" class="text-center d-none d-lg-table-cell">Uploaded</th>
                        <th width="1%" class="text-center d-none d-lg-table-cell">Downloaded</th>
                        <th width="1%" class="text-center d-none d-lg-table-cell">Ratio</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a class="no-decoration valign-middle" href="/torrent/">
                            </a>
                        </td>
                        <td class="text-center d-none d-sm-table-cell">
                            <img title="" class="valign-middle" height="15" width="15" src="../images/">
                        </td>
                        <td class="text-left d-none d-sm-table-cell valign-middle">
                            <a href="/profile/"></a></td>

                        <td class="text-center d-none d-sm-table-cell"></td>
                        <td class="text-center d-none d-md-table-cell"></td>
                        <td class="text-center d-none d-md-table-cell"></td>
                        <td class="text-right d-none d-lg-table-cell dark-gray"></td>
                        <td class="text-center d-none d-lg-table-cell"></td>
                        <td class="text-center d-none d-lg-table-cell"></td>
                        <td class="text-center d-none d-lg-table-cell"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}