{% extends 'layout/tracker.html.twig' %}

{% block title %}Send Messages{% endblock %}

{% block  javascripts %}
    {{ encore_entry_script_tags('markdown_editor') }}
{% endblock %}

{% block body %}

    {#<div class="row small-device my-5">
        <div class="col-xl-6 col-lg-8 col-md-10 col-12 mx-auto">
            <div class="fancy-container bx-d-sm-0 px-2 px-sm-3 py-1">
                <p class="text-center">You cannot send message to this user.</p>
            </div>
        </div>
    </div>#}

    <div class="row small-device">
        <div class="col-12 col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 mt-4 mb-5">
            <?php echo isset($data['request_msg']) ? $data['request_msg'] : ""; ?>

            <h1 class="text-center">Send Private Message</h1>

            {{ form_start(form) }}
            <div class="fancy-container bx-d-sm-0">
                <!-- recipient -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Recipient</div>
                        <div class="col-12 col-sm-10">
                            <a class="no-decoration r04" href="{{ path('user.profile.id', { id:pmto.receiver.id }) }}"><b>{{ pmto.receiver.username }}</b></a>
                        </div>
                    </div>
                </div>

                <!-- subject -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1">Subject</div>
                        <div class="col-12 col-sm-10">
                            {{ pmto.message.subject }}
                        </div>
                    </div>
                </div>

                <!-- message -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="rowhead col-12 col-sm-2 pr-sm-0 text-left-d-sm pb-d-sm-1 pt-1"> {{ form_label(form.message) }}</div>
                        <div class="col-12 col-sm-10">
                            <span> {{ form_errors(form.message) }}</span>
                            {{ form_widget(form.message) }}
                        </div>

                    </div>
                </div>

                <!-- send pm button -->
                <div class="fancy-row">
                    <div class="row small-device">
                        <div class="col-12 col-sm-2"></div>
                        <div class="col-12 col-sm-10">
                            {{ form_widget(form.send) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}